<h1>Listing Feeds</h1>

<table>
  <thead>
    <tr>
      <th>Nam</th>
      <th>Base Url</th>
      <th>Feed Url</th>
      <th>Modified</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.name %></td>
        <td><%= feed.base_url %></td>
        <td><%= feed.feed_url %></td>
        <td><%= feed.last_modified %></td>
        <td><%= link_to 'Show', feed %></td>
        <td><%= link_to 'Edit', edit_feeds_path(feed) %></td>
        <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

      

<%= link_to 'New Feed', new_feed_path %>

<div id="recent_episodes">
  <h3>Recent Articles</h3>
  <ul>
  <% for entry in FeedEntry.all(:limit => 40, :order => "published_at desc") %>
  
    <li><%= link_to h(entry.name), entry.url %><%= Date.parse(entry.published_at.to_s).strftime("%B %e %Y") %> <%= entry.author %></li>
  <% end %>
  </ul>
</div>