<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feed.name %>
</p>

<p>
  <strong>Feed url:</strong>
  <%= @feed.feed_url %>
</p>

<p>
  <strong>Last modified:</strong>
  <%= @feed.last_modified %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
